/* bai 1 */
.box1{
    width: 90px;
    height: 90px;
    background-color: red;
}
/* bai 2 */

.box2{
    width:90px;
    height: 90px;
    margin: auto;
    background-color: blue;
}
/* bai 3 */

.box3{
    width: 90px;
    height: 90px;
    background-color: blue;
    border-style: solid;
    border-width: 2px;
    border-color: red;
}
/* bai 4 */

.box4{
    width: 90px;
    height: 90px;
    background-color: blue;
    border-style: solid;
    border-width: 2px;
    border-color: red;
    display: flex;
}
/* bai 5 */

.bai5{
    color:blue
    
}
.bai5.css{
    font-size: 15px;
    font-family: 'Times New Roman';
}
/* bai 6 */

.bai6{
    font-size: 18px;
    color:blue;
}
/* bai 7 */

.bai7{
    background-color: blue;
}
/* bai 8 */

.bai8{
    color:violet;
}
/* bai 9 */
.bai9{
    background-color: lightcoral;
    height: 400px;
}
h1{
    font-size: 60px;
    text-align: center;
}
p{
    text-align: center;
}
/* bai 10 */
.bai10{
    font-family: Arial;
}
.bai11{
    background-color: bisque;
    width: 250px;
    height:250px ;

}
.bai12-css  {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;   
    width: 200px;
    height: 200px;
    background-color:#ecf081;

}
.sq1, .sq2, .sq3, .sq4, .sq5, .sq6, .sq7, .sq8, .sq9  {
    width: 32%;
    height: 32%;
   
   

}
.sq1    {
    background-color: #ef746f;
}
.sq2    {
    background-color: #b3cc57;
}
.sq3    {
    background-color: #ffbe40;
}
.sq4    {
    background-color: #ab3e5b;
}
.sq5    {
    background-color: #ecf081;
}
.sq6    {
    background-color: #ef746f;
}
.sq7    {
    background-color: #b3cc57;
}
.sq8    {
    background-color: #ffbe40;
}
.sq9    {
    background-color: #ab3e5b;
}
/*bai13.css*/
.bai13-css__contentbai13-css__tille{
    color:aliceblue ;
    background-color: #ab3e5b;
    font-size: 30px;
}
.bai13-css__contentbai13-css__alert{
    color: red;
}
.bai13-css__contentbai13-css__heading{
    color:#ab3e5b;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.bai13-css__contentbai13-css__quote{
    font-style: italic;
}
/*bai14.css*/
/*bai15.css*/
.bai15{
    background-color: gray;
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
    
}
.inside{
    list-style: inside;
}



header{
    background-color: black;
    width: 100%;
    height: 80px;
}
.all{
    display: flex;
    justify-content: space-around;
    
    }
.logo{
    width: 50px;
    height:70px;
}
.ulli{
    display: flex;
    justify-content: space-around;
    width: 300px;
}


   